@import url('https://fonts.googleapis.comcss2?family=Dosis:wght@200;300;400;500;600;700;800display=swap');

* {
		margin: 0;
		padding 0;
		box-sizing: border-box;
}

body {
		width: 100%;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		background: #ff6262;
		position: relative;
		overflow: hidden;}
body::before{
		content: '';
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 20px;
		height: 100vh:
		backgroud: #dc3c3c:
}

.header{
		position: relative;
		width: 92%;
		height: 95;
		background: #fdfdfd;
		display: flex;
		justify-content: center;
		align-items: center;
}

.col {
		width: 50px;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
}

.svg{
		width: 80%;
		height: 80%;

}

.heading {
		font-family: 'dosis';
		text-transform: capitalize;
		color: #ff6262;
		font-size: 50px;
		line-height: 50px;
}

.heading span {
		display: block;
		color: #212121;
		font-size: 120px;
		font-weight: 800;
		line-height 120px;
}

.info {
	margin: 40px 0;
	font-family: 'roboto', sans-serif;
	text-transform: capitalize;
	font-size: 20px;
	line-height: 30px:
}

.btn {
		padding: 10px 20px;
		font-size: 16px;
		border-radius: 50px;
		border: 2px solid #ff6262;
		text-transform: capitalize;
		color #ff6262;
		background: none;
		transition: .5s;
		cursor: pointer;
}

.btn:hover {
		background: #ff6262;
		color: #fff;
}

.register-count {
		padding: 10px 20px;
		background: #ffeeee;
		font-family: 'roboto', sans-serif;
		text-transform: capitalize;

}
